{% extends "layout.html" %}
{% block content %}

<h2>Dashboard</h2>

<div class="card">
    <h3>{{ session.company }}</h3>
    <p>GST: {{ session.gst }}</p>
    <p>Category: {{ session.category }}</p>
</div>

<div class="grid">
    <div class="card">Total Products: {{ total_products }}</div>
    <div class="card">Total Sales: ₹{{ total_sales }}</div>
    <div class="card">Low Stock Items: {{ low_stock_count }}</div>
</div>

<canvas id="monthlyChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
new Chart(document.getElementById("monthlyChart"), {
    type: "line",
    data: {
        labels: {{ month_labels }},
        datasets: [{
            label: "Monthly Sales",
            data: {{ month_totals }},
            borderColor: "#fff",
            backgroundColor: "rgba(255,255,255,0.3)",
            tension: 0.4,
            fill: true
        }]
    }
});
</script>
<script>
toast("Product Added Successfully!");
</script>

{% endblock %}
