{% extends "layout.html" %}
{% block content %}
<h2 class="page-title">Sales</h2>

<div class="card form-card">
    <h3>Record Sale</h3>
    <form method="POST" action="/sales">
        <label>Select Product</label>
        <select name="product" required>
            <option value="">Choose Product</option>
            {% for p in products %}
            <option value="{{ p[0] }}">{{ p[1] }} – ₹{{ p[3] }} (Stock: {{ p[4] }})</option>
            {% endfor %}
        </select>

        <label>Quantity</label>
        <input type="number" name="qty" placeholder="Enter Quantity" required>

        <button type="submit">Record Sale</button>
    </form>
</div>
{% endblock %}