{% extends "layout.html" %}
{% block content %}

<h2>Stock Out</h2>

<div class="card">
    <h3>Reduce Stock</h3>

    <form method="POST">
        <select name="product" required>
            <option value="">Select Product</option>
            {% for p in products %}
            <option value="{{ p[0] }}">{{ p[1] }} (Available: {{ p[6] }})</option>
            {% endfor %}
        </select>

        <input type="number" name="qty" placeholder="Quantity" required>
        <button>Update Stock</button>
    </form>
</div>

{% endblock %}